databricks-sql-connector==3.4.0
typer==0.12.5
pyyaml==6.0.2
redis==5.1.1
django-celery==3.1.17
python-decouple==3.8
flower==2.0.1
pyspark==3.5.3
django==5.1.2
django-celery-beat==2.7.0
psycopg2-binary==2.9.9
ipython==8.27.0
whitenoise==6.6.0
gunicorn==21.2.0
django-admin-interface==0.29.1
crispy-bootstrap4==2024.10
humanize==4.11.0
ipdb==0.13.13
eth-utils==5.1.0
web3==7.6.0
django-choices==2.0.0
django-cors-headers==4.1.0
